<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://kit.fontawesome.com/9890cab116.js" crossorigin="anonymous"></script><body>
    <article class="card" style =" width: 250px; height: 275px; border-radius: 25px; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); overflow: hidden; margin: auto;">
        <div class="thumb" style =" width: auto;height: 50%;"> <img src="/static/images/parcs.jpg" style="width:100%; height:100%;" alt=""></div>
        <div class="details" style=" padding: 14px 24px; ">
            <h2 class="title" style=" margin: 10px 0; color: #6a6b6d;font-size: 0.8rem;">Square Cabot</h2>
            <h3 class="price" style="   margin: 10px 0; font-size: 1rem; font-weight: 400; margin: 0px 0px; color: #4e958b; cursor: pointer;">2223 avenue du parc-milamene</h3>
            <a class="addresse" href="#" style="background: #57cc99; padding: 10px; width:60%; color: #fff; text-align:center; margin: 10px auto; border-radius: 25px;"> StreetView <i class="fa-solid fa-magnifying-glass-location"></i></a>
        </div>
        </article>
</body>
</html>